/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font: 0.85rem/1.5 'Arial', sans-serif;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

button, input{
    border: none;
    outline: none;
}
/* ================================= 
  Base Layout Styles*/

.content-wrapper{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    width: 22%;
    background: red;
}

.main-content{
    width: 56%;
    overflow-y: scroll;
    background: #f6f6f6;
}


.feedWrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-----primary header-----*/

.primary-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    padding: 10px 0;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2)
}


/*---search field-----*/

.navbar__search{
    position: relative;
}

.navbar__search__input{
    border-radius: 20px;
    background: #F1F1FB;
    padding: 10px 10px;
}


.fa.fa-search{
  position: absolute;
  right: 13px;
  top: 3px;  
  font-size: 1.5rem;
  color: #fff;
}
    

#bookPopUp {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bookPopUp .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
}
.order {
    background-color: green;
    color: white;
    padding: 10px;
    width: 100%;
}
.bookPopUp button {
    border: none;
    cursor: pointer;
    outline: none;
}
.bookPopUp footer {
    clear: both;
}
.bookPopUpWrap {
    padding: 20px;
    background-color: white;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bookImg {
    width: 100px;
    height: auto;
    display: block;
    margin: 10px auto 0;
}
#bookInfo,
.exchangeInfo {
    float: left;
}
.exchangeInfo {
    padding-left: 20px;
}
#registration {
    display: none;
}
/* ---- Navigation ---- */
.main-nav{
    display: flex;
    padding: 1rem 2rem;
    background: #989AD7;
    font-weight: bold;
}

.main-nav a{
    padding: 0 0.5rem;
    position: relative;
    color: #fff;
    cursor: pointer;
}

.main-nav .active{
    text-decoration: underline;
}

.main-nav a:hover{
     color: rgba(255, 255, 255, 0.5);
}

.main-nav a:not(:last-child)::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.main-nav a:nth-last-child(2){
  margin-left: auto;
}

.main-nav a:last-child {
  width: 50px;
}
.main-nav a:last-child i{
  position: absolute;
  top: -2px;
  left: 15px;
  font-size: 2.2rem;
}
/* ---- Layout Containers ---- */

/*-------books adds-------*/

.feed{
    width: 31%;
    margin-bottom: 20px;
    background: #fff;
    color: #333;
    box-shadow: 0 10px 20px rgba(21,29,116,0.2);
}

.bookInfo-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 10px;
}


/*-------reting stars------*/
.rating {
  text-align: center;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}


/*-----Buttons-------*/
.feed-btn {
	display: block;
	padding: 5px 8px;
	color: #fff;
	text-transform: uppercase;
	background: #1E1E20;
	border-radius: 5px;
}

.feed-btn:hover {background: #888;}

.main-btn{
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    color:#fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    background: #F23F79;
}

.main-btn:hover{
    background: #d60e4f;
}

.main-btn:active{
    top: 2px;
    box-shadow: none;
}

/*--Input forms--*/


/*---Pretty scroll-----*/
::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: rgba(0,0, 0, 0.1);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0,0, 0, 0.3);
}
/* ================================= 
  Media Queries
==================================== */