/* ================================= 
  Base Element Styles
==================================== */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font: 0.85rem/1.5 'Arial', sans-serif;
}

main{
   padding: 1rem 4rem;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.main-nav{
    display: flex;
    padding: 1rem 4rem;
    background: #989AD7;
    font-weight: bold;
}

.main-nav a{
    padding: 0 0.5rem;
    position: relative;
    color: #fff;
    cursor: pointer;
}

.main-nav .active{
    text-decoration: underline;
}

.main-nav a:hover{
     color: rgba(255, 255, 255, 0.5);
}

.main-nav a:not(:last-child)::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.main-nav a:nth-last-child(2){
  margin-left: auto;
}

.main-nav a:last-child {
  width: 50px;
}
.main-nav a:last-child i{
  position: absolute;
  top: -2px;
  left: 15px;
  font-size: 2.2rem;
}

/* ---- Layout Containers ---- */
.user-page{
  padding: 2rem; 
}

.user-page__heading{
  margin-bottom: 20px;
  color: #777;
}

.user-page__nav a{
  padding: 15px;
  color: #999;
  position: relative;
  font-weight: bold;
}

.user-page__nav a.active{
  background: #f6f6f6;
}

.advert-wrapper{
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  background: #f6f6f6;
}

.advert{
  display: flex;
  margin: 10px;
  background: #fff;
  color: #333;
  box-shadow: 0 15px 40px rgba(21,29,116,0.2);
}

/* ================================= 
  Media Queries
==================================== */