/*--Pretty radion buttons--*/
input[type="radio"] + label::before {
  border: 1px solid grey;
  content: ' ';
  display: inline-block;
  margin-right: 5px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: border 0.15s ease-in-out;
}

input[type="radio"] + label::after {
  border: 0px solid  #F23F79;
  content: ' ';
  background: transparent;
  display: inline-block;
  margin-right: 5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
  transition: border 0.15s ease-in-out;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label::after {
  background:  #F23F79;
}

input[type="radio"]:checked + label::before {
  border-color:  #F23F79;
}

input[type="radio"]:checked + label {
  color:  #F23F79;
}

/* pretty checkboxes?*/

input[type="checkbox"] + label::after {
  width: 15px;
  height: 15px;
}


/* Terms triggers */
hr {
  margin: 15 0 15 0;
}

.priceActive{
    display: none;
   }
   #termsSell:checked ~ .priceActive {
    display: block;
   }
   .textareaBook {
    display: none;
   }
   #termsWithExchange:checked ~ div .textareaBook {
    display: initial;
   }
   .dateChecked {
    display: none;
   }
   #termsReturn:checked ~ .dateChecked {
    display: block;
   }
   input[type=date]{
    background-color: #F1F1FB;
   }
   textarea {
    resize: none;
   }




/*--Input forms--*/

.form-wrapper{
  width: 50%;
  margin: 5% auto;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.form-title{
  padding: 15px 10px;
  border: 1px solid rgba(0,0,0,.2);
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #989AD7;
}

.note{
    font-size: 0.7rem;
    color: red;
}

#addBook{
    padding: 1.5rem;
}

.form-field__block,
.form-field{
    margin-bottom: 15px;
    padding: 5px 10px 5px 30px;
    border-radius: 10px;
    background: #F1F1FB;
    outline: none;
    border: none;
}

.form-field__block{
    width: 95%;
    display: block;
}

#addBook label{
    display: inline-block;
    margin-top: 10px;
    position: relative;
    color: #777;
}

.show-condition-form {
  display: visible;
}
.hide-condition {
  display: none;
}

/*--copied styles from style.css(when combine css need to be deleted from here)---*/
.main-btn{
    position: relative;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color:#fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    background: #F23F79;
}

.main-btn:hover{
    background: #d60e4f;
}

.main-btn:active{
    top: 2px;
    box-shadow: none;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font: 0.85rem/1.5 'Arial', sans-serif;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

button{
    border: none;
}
