.userpic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 10px;
	float: left;
    box-shadow: 0 10px 20px rgba(21,29,116,0.2);
}

.fa-pencil-square-o {
	height: 12px;
	color: #6666AA;
}

.username {
	margin-top: 15px;
	text-align: left;
	color: #AAAABB;
}
.bookInfo {
	position: relative;
}
.bookSummary {
	font-size: 9pt;
	color: #000000;
	line-height: 12pt;
	padding: 5px 15px;
	border-left: #DDDDDD 1px dashed;
}
.bookName {
	font-size: 11pt;
	font-weight: bold;
	color: #554466;
}
.bookAuthor {
	font-family: Times;
	font-size: 10pt;
	font-style: italic;
	color: #333333;
	padding-bottom: 10pt;
}
.usersettings {
	color: #888899;
	margin:10px;
}

.userBook {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 222px;
	border: #DDDDDD 1px solid;
    box-shadow: 0 10px 20px rgba(21,29,116,0.2);
}

.bookWrapper {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.bookWrapper .userBook:last-child {
	margin-bottom: 50px;
}
.userInfo {
	display: block;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	min-height: 220px;
}

.userBook img { 
	float: left; 
	margin: 10px;
}

